pcAmerica.DesktopPOS.API.Client/Service References/MenuService/13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pcAmerica.com/DesktopPOS/MenuService/ServiceContracts/2011/05/13" elementFormDefault="qualified" targetNamespace="http://pcAmerica.com/DesktopPOS/MenuService/ServiceContracts/2011/05/13" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://pcAmerica.com/DesktopPOS/General/DataContracts/2009/10/26" />
  <xs:import namespace="http://pcAmerica.com/DesktopPOS/MenuService/DataContracts/2009/10/26" />
  <xs:element name="GetCurrentMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://pcAmerica.com/DesktopPOS/General/DataContracts/2009/10/26" minOccurs="0" name="context" nillable="true" type="q1:Context" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://pcAmerica.com/DesktopPOS/MenuService/DataContracts/2009/10/26" minOccurs="0" name="GetCurrentMenuResult" nillable="true" type="q2:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>