pcAmerica.DesktopPOS.API.Client/Service References/InventoryService/27.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/Imports">
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/InventoryService/DataContracts/2010/07/27" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/General/DataContracts/2009/10/26" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InventoryService_GetItemList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemList" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetItemList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemListResponse" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetItemListExtended_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemListExtended" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetItemListExtended_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemListExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetModifierGroupsForItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModifierGroupsForItem" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetModifierGroupsForItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModifierGroupsForItemResponse" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetIndividualModifiers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndividualModifiers" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetIndividualModifiers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndividualModifiersResponse" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetModifierItemsForModifierGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModifierItemsForModifierGroup" />
  </wsdl:message>
  <wsdl:message name="InventoryService_GetModifierItemsForModifierGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModifierItemsForModifierGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryService">
    <wsdl:operation name="GetItemList">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetItemList" message="tns:InventoryService_GetItemList_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetItemListResponse" message="tns:InventoryService_GetItemList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemListExtended">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetItemListExtended" message="tns:InventoryService_GetItemListExtended_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetItemListExtendedResponse" message="tns:InventoryService_GetItemListExtended_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetItem" message="tns:InventoryService_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetItemResponse" message="tns:InventoryService_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModifierGroupsForItem">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetModifierGroupsForItem" message="tns:InventoryService_GetModifierGroupsForItem_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetModifierGroupsForItemResponse" message="tns:InventoryService_GetModifierGroupsForItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndividualModifiers">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetIndividualModifiers" message="tns:InventoryService_GetIndividualModifiers_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetIndividualModifiersResponse" message="tns:InventoryService_GetIndividualModifiers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModifierItemsForModifierGroup">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetModifierItemsForModifierGroup" message="tns:InventoryService_GetModifierItemsForModifierGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/InventoryService/ServiceContracts/2010/07/27/InventoryService/GetModifierItemsForModifierGroupResponse" message="tns:InventoryService_GetModifierItemsForModifierGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>