pcAmerica.DesktopPOS.API.Client/Service References/CompanyInformationService/27.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27/Imports">
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CompanyInformationService_GetStoreIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreIDs" />
  </wsdl:message>
  <wsdl:message name="CompanyInformationService_GetStoreIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreIDsResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyInformationService_GetStationIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationIDs" />
  </wsdl:message>
  <wsdl:message name="CompanyInformationService_GetStationIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationIDsResponse" />
  </wsdl:message>
  <wsdl:message name="CompanyInformationService_GetDBInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBInfo" />
  </wsdl:message>
  <wsdl:message name="CompanyInformationService_GetDBInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="CompanyInformationService">
    <wsdl:operation name="GetStoreIDs">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27/CompanyInformationService/GetStoreIDs" message="tns:CompanyInformationService_GetStoreIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27/CompanyInformationService/GetStoreIDsResponse" message="tns:CompanyInformationService_GetStoreIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationIDs">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27/CompanyInformationService/GetStationIDs" message="tns:CompanyInformationService_GetStationIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27/CompanyInformationService/GetStationIDsResponse" message="tns:CompanyInformationService_GetStationIDs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDBInfo">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27/CompanyInformationService/GetDBInfo" message="tns:CompanyInformationService_GetDBInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/CompanyInformationService/ServiceContracts/2010/07/27/CompanyInformationService/GetDBInfoResponse" message="tns:CompanyInformationService_GetDBInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>