pcAmerica.DesktopPOS.API.Client/Service References/CustomerService/26.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26/Imports">
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/CustomerService/DataContracts/2009/10/26" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerService_UpdateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecord" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_FindRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:FindRecord" />
  </wsdl:message>
  <wsdl:message name="CustomerService_FindRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="UpdateRecord">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26/CustomerService/UpdateRecord" message="tns:CustomerService_UpdateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26/CustomerService/UpdateRecordResponse" message="tns:CustomerService_UpdateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindRecord">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26/CustomerService/FindRecord" message="tns:CustomerService_FindRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26/CustomerService/FindRecordResponse" message="tns:CustomerService_FindRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>