pcAmerica.DesktopPOS.API.Client/Service References/CustomerService/26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26" elementFormDefault="qualified" targetNamespace="http://pcAmerica.com/DesktopPOS/CustomerService/ServiceContracts/2009/10/26" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://pcAmerica.com/DesktopPOS/CustomerService/DataContracts/2009/10/26" />
  <xs:element name="UpdateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://pcAmerica.com/DesktopPOS/CustomerService/DataContracts/2009/10/26" minOccurs="0" name="action" type="q1:MessageAction" />
        <xs:element xmlns:q2="http://pcAmerica.com/DesktopPOS/CustomerService/DataContracts/2009/10/26" minOccurs="0" name="customer" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://pcAmerica.com/DesktopPOS/CustomerService/DataContracts/2009/10/26" minOccurs="0" name="FindRecordResult" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>