pcAmerica.DesktopPOS.API.Client/Service References/PaymentService/26.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26/Imports">
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" />
      <xsd:import namespace="http://pcAmerica.com/DesktopPOS/General/DataContracts/2009/10/26" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PaymentService_ProcessCreditCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCreditCard" />
  </wsdl:message>
  <wsdl:message name="PaymentService_ProcessCreditCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentService_CompletePreAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:CompletePreAuth" />
  </wsdl:message>
  <wsdl:message name="PaymentService_CompletePreAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompletePreAuthResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentService">
    <wsdl:operation name="ProcessCreditCard">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26/PaymentService/ProcessCreditCard" message="tns:PaymentService_ProcessCreditCard_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26/PaymentService/ProcessCreditCardResponse" message="tns:PaymentService_ProcessCreditCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompletePreAuth">
      <wsdl:input wsaw:Action="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26/PaymentService/CompletePreAuth" message="tns:PaymentService_CompletePreAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26/PaymentService/CompletePreAuthResponse" message="tns:PaymentService_CompletePreAuth_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>