pcAmerica.DesktopPOS.API.Client/Service References/PaymentService/26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26" elementFormDefault="qualified" targetNamespace="http://pcAmerica.com/DesktopPOS/PaymentService/ServiceContracts/2009/10/26" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" />
  <xs:element name="ProcessCreditCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" minOccurs="0" name="request" nillable="true" type="q1:CreditCardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCreditCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" minOccurs="0" name="ProcessCreditCardResult" nillable="true" type="q2:CreditCardPaymentProcessingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompletePreAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" minOccurs="0" name="request" nillable="true" type="q3:CreditCardRequest" />
        <xs:element minOccurs="0" name="invoiceNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompletePreAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" minOccurs="0" name="CompletePreAuthResult" nillable="true" type="q4:CreditCardPaymentProcessingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>