pcAmerica.DesktopPOS.API.Client/Service References/PaymentService/261.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" elementFormDefault="qualified" targetNamespace="http://pcAmerica.com/DesktopPOS/PaymentService/DataContracts/2009/10/26" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://pcAmerica.com/DesktopPOS/General/DataContracts/2009/10/26" />
  <xs:complexType name="CreditCardRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BarTab" type="xs:boolean" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardSwipe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationYear" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PostAuthReferenceNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://pcAmerica.com/DesktopPOS/General/DataContracts/2009/10/26" minOccurs="0" name="ProcessingType" type="q1:ProcessingType" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Void" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardRequest" nillable="true" type="tns:CreditCardRequest" />
  <xs:complexType name="CreditCardPaymentProcessingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ApprovalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationYear" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrePaidCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="PostAuthReferenceNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://pcAmerica.com/DesktopPOS/General/DataContracts/2009/10/26" minOccurs="0" name="ProcessType" type="q2:ProcessingType" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardPaymentProcessingResponse" nillable="true" type="tns:CreditCardPaymentProcessingResponse" />
</xs:schema>